/* Seletor root modifica em todo o arquivo css */
:root {
    /* Criando variaveis no css */
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';

}

/* Seletor de asteriscos afeta em todos os elementos css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
/* Primeira section*/
.container {
    /* Grid separa os elementos da tela (um do lado do outro, em baixo), o padrão é um do lado do outro (por linha) */
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Seletor . é para as classes do html */
.principal {
    /* Usamos imagem no css caso for apenas ilustrativa, caso precise de alguma explicação ao usuario, utilizamos a tag image no html */
    background-image: url("Img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    /* Quando colocamos dois valores nos referimos a primeiro valor topo/baixo e segundo valor direita/esquerda */
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    /* Quando adicionamos quatro valores, funciona no sentido horario (primeiro valor parte de cima, segundo lado direito, terceiro em baixo, quarto lado esquerdo) */
    margin: 1em 0 2em 0;
}

.container__botao {
    /* Medida 1em é igual ao tamanho da fonte */
    /* Margin bottom é a margin de baixo */
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

/* Segunda section */

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descrição__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descrição__texto {
    color: var(--cinza-secundario);
}

/* Terceira section */

.container__descrição {
    padding: 2em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

/* Quinta section */

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;  
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}
